/*font-face*/

@font-face {
    font-family: 'Nanum Gothic';
    font-style: normal;
    font-weight: 400;
    src: url(../font/NanumGothic.eot);
    src: url(../font/NanumGothic.eot?#iefix) format('embedded-opentype'), url(../font/NanumGothic.woff2) format('woff2'), url(../font/NanumGothic.woff) format('woff'), url(../font/NanumGothic.ttf) format('truetype');
}

body {
    font-family: "Nanum Gothic";
}

/*finish*/

@font-face {
    font-family: 'Nanum Gothic';
    font-style: normal;
    font-weight: 700;
    src: url(../font/NanumGothicBold.eot);
    src: url(../font/NanumGothicBold.eot?#iefix) format('embedded-opentype'), url(../font/NanumGothicBold.woff2) format('woff2'), url(../font/NanumGothicBold.woff) format('woff'), url(../font/NanumGothicBold.ttf) format('truetype');
}

@keyframes slidy {
    0% {
        left: 0%;
    }
    20% {
        left: 0%;
    }
    25% {
        left: -100%;
    }
    45% {
        left: -100%;
    }
    50% {
        left: -200%;
    }
    70% {
        left: -200%;
    }
    75% {
        left: -300%;
    }
    95% {
        left: -300%;
    }
    100% {
        left: -400%;
    }
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a:link {
    text-decoration: none;
    color: #494c51;
}

a:visited {
    text-decoration: none;
    color: #494c51;
}

#wraper {
    min-height: 100%
}

#header_upper {
    position: relative;
    height: 50px;
    margin: 0 25%;
}

#main_header {
    height: 160px;
    position: relative;
}

#main_header #logo {
    position: relative;
    float: left;
    padding-top: 10px;
}

#main_header #logo #logo_img {
    height: 43px;
    width: 335px;
}

#main_header #member_nav {
    display: block;
    position: relative;
    padding-top: 10px;
    float: right;
    right: 0;
    top: 0;
}

#main_header #member_nav ul {
    overflow: hidden;
    font-size: 11px;
    margin: 0;
    font-weight: bold;
}

#main_header #member_nav ul li {
    float: left;
}

#main_header #member_nav ul li a {
    color: #858688;
}

#main_header #member_nav ul li:first-child {
    padding-right: 20px;
}

#main_header #main_menu_nav {
    display: block;
    position: relative;
    top: 30px;
    right: -95px;
    float: right;
}

#main_header #main_menu_nav ul {
    position: inherit;
    font-size: 20px;
}

#main_header #main_menu_nav ul li {
    float: left;
}

#main_header #main_menu_nav ul li:last-child a {
    padding-right: 0;
}

#main_header #main_menu_nav ul li a {
    display: block;
    padding-right: 30px;
    font-weight: bold;
}

#main_header #search {
    position: absolute;
    top: 60px;
    background-color: #494c51;
    height: 75px;
    width: 100%;
}

#main_header #search #search_text_field {
    float: left;
    padding-left: 25%;
    font-size: 17px;
}

#main_header #search #search_text_field #search_bar #input_text {
    height: 45px;
    width: 750px;
    margin-right: 10px;
    margin-top: 15px;
    margin-bottom: 10px;
    border-radius: 6px;
    border: none;
}

#main_header #search #search_text_field #sch_smit {
    background-color: #f66d5b;
    width: 85px;
    height: 45px;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-right: 5px;
    border-radius: 6px;
    border: none;
    color: white;
    font-size: 17px;
    font-weight: bold;
}

#main_header #search #search_nav {
    font-size: 11px;
    margin-top: 10px;
    font-weight: bold;
}

/*검색버튼 옆 위아래 간격*/

#main_header #search #search_nav li {
    padding-bottom: 3px;
}

#main_header #search #search_nav li a {
    padding-left: 5px;
    color: #ffffff;
}

#content {
    position: relative;
    margin: 0 25%;
}

.component_content {
    position: relative;
    display: block;
    margin-top: 20px;
    padding-bottom: 20px;
}

.content_header {
    position: relative;
    display: block;
    width: auto;
    height: auto;
    font-size: 20px;
}

.content_header p {
    margin: 0;
    color: #858688;
    float: left;
}

.content_header a img {
    width: 16px;
    height: 16px;
}

#slider {
    overflow: hidden;
    width: 960px;
    height: 420px;
}

#slider figure img {
    width: 960px;
    height: 420px;
    float: left;
}

#slider figure {
    position: relative;
    width: 500%;
    height: 420px;
    margin: 0;
    top: 0;
    left: 0;
    text-align: left;
    font-size: 0;
    -webkit-animation: 20s slidy ease-in-out infinite;
    animation: 20s slidy ease-in-out infinite;
}

#slideMain {
    /*가운데 정렬*/
    width: 960px;
    margin: 0 auto;
    /*절대 좌표*/
    height: 480px;
    position: relative;
}

#slideMain.slides {
    margin: 0 auto;
}

#slideMain li {
    width: 960px;
    height: 480px;
    margin: 0 auto;
    padding: 0;
}

#slideMain li img {
    width: inherit;
    height: inherit;
}

#tour_recommend {
    position: relative;
    display: block;
    width: 960px;
    height: 385px;
}

.layout_2by3 {
    position: relative;
    margin: 0;
    padding: 0;
    display: block;
    width: 960px;
    height: 364px;
}

.layout_2by3_child {
    width: 310px;
    height: 172px;
    float: left;
}

.layout_2by3 li:nth-child(3n) {
    margin-right: 0;
}

.layout_2by3 li:nth-child(3n-2) {
    margin-right: 15px;
}

.layout_2by3 li:nth-child(3n-1) {
    margin-right: 15px;
}

.layout_2by3 li:nth-child(1) {
    margin-bottom: 20px;
}

.layout_2by3 li:nth-child(2) {
    margin-bottom: 20px;
}

.layout_2by3 li:nth-child(3) {
    margin-bottom: 20px;
}

.layout_2by3_child a img {
    width: 310px;
    height: 172px;
}

#tip {
    position: relative;
    display: block;
    width: 960px;
    height: 167px;
}

#tip ul li {
    float: left;
}

#tip ul li:first-child {
    margin-right: 18px;
}

#tip ul li a img {
    width: 471px;
    height: auto;
}

#course_recommend {
    display: block;
    position: relative;
    width: 960px;
    height: 172px;
}

.layout_1by3 {
    position: relative;
    margin: 0;
    padding: 0;
    display: block;
    width: 960px;
    height: 172px;
}

.layout_1by3_child {
    width: 310px;
    height: 172px;
    float: left;
}

.layout_1by3_child a img {
    width: 310px;
    height: 155px;
}

.layout_1by3 li:nth-child(2) {
    margin: 0 15px;
}

#tour_review {
    position: relative;
    display: block;
    width: 960px;
    height: 385px;
}



#footer #nav_footer {
    display: block;
    margin-top: 5px;
}

#footer #nav_footer ul {
    margin: 0;
    padding: 0;
}

#footer #nav_footer ul li:first-child {
    padding: 10px 0;
}

#footer #nav_footer ul li {
    display: inline-block;
    padding: 2px 10px;
}

#footer #nav_footer ul li a {
    color: #ffffff;
}

#footer #address_footer {
    position: absolute;
    margin-top: -10px;
    display: block;
    font-style: normal;
    font-size: small;
    color: #858688;
}

.appstoreimg {
    float: right;
    width: 200px;
    height: 50px;
    padding-right: 30%
}

.appstoreimg img {
    width: 150px;
    height: auto;
}

.adroidimg {
    float: right;
    margin-right: 20px;
    width: 150px;
    height: 50px;
    overflow: hidden;
}

.adroidimg img {
    width: 150px;
    height: auto;
}

#basebutton {
    background-color: #FFFFFF;
    border: solid 1px #C8D7FF;
    outline: 1px;
    width: 80px;
    height: 30px;
    margin-top: 5px;
    margin-bottom: 3px;
    margin-right: 10px;
    border-radius: 6px;
    padding: 0 10px;
    color: black;
    font-size: 13px;
    font-color: black;
}

#basebuttonUP {
    background-color: #f66d5b;
    border: 0;
    width: 80px;
    height: 30px;
    margin-top: 5px;
    margin-bottom: 3px;
    margin-right: 10px;
    border-radius: 6px;
    padding: 0 10px;
    border: none;
    color: white;
    font-size: 13px;
}

#login_text {
    position: relative;
    font-size: 20px;
    font-weight: bold;
    margin-top: 80px;

}

#login_tag {
    width: 60%;
    height: 280px;
    border: 2px solid #E1E1E1;
    padding: 30px 70px 10px 70px;
}

#login_id {
    position: relative;
    margin-top: 10px;
    width: 90%;
    height: 30px;
    font-size: 16px;
    padding-left: 10px;
    border: 1px solid #E1E1E1;
}

#login_pw {
    position: relative;
    margin-top: 3px;
    width: 90%;
    height: 30px;
    font-size: 16px;
    padding-left: 10px;
    border: 1px solid #E1E1E1;
}

#login_check {
    position: relative;
}

input[type=checkbox] {
    display: none;
}

input[type=checkbox] + label:before {
    content: "";
    display: inline-block;
    border: 1px solid #E1E1E1;
    width: 12px;
    height: 15px;
    margin-right: 3px;
    margin-top: 5px;
    padding-left: 3px;
    border-radius: 1px;
    vertical-align: bottom;
    margin-right: 7px;
}

input[type=checkbox]:checked + label:before {
    content: '\2713';
    padding-left: 3px;
}

input[type="radio"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

input[type="radio"] + label {
    display: inline-block;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

input[type="radio"] + label:before {
    content: '';
    position: absolute;
    left: 5px;
    width: 16px;
    height: 16px;
    text-align: center;
    border: 1px solid #E1E1E1;
    border-radius: 100%;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
}

input[type="radio"] + label:active:before,
input[type="radio"]:checked + label:active:before {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}

input[type="radio"]:checked + label:before {
    border-color: #BABABA;
}

input[type="radio"]:checked + label:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 10px;
    width: 8px;
    height: 8px;
    background: #BABABA;
    border-radius: 100%;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.3);
}

#sign-up_gender {
    position: relative;
}

#membership_button {
    position: relative;
    float: right;
    margin-right: 25px;
    margin-top: 5px;
}

#login_base {
    position: relative;
    margin-top: 20px;
    width: 95%;
    height: 40px;
    text-align: center;
    font-size: 18px;
    background: #6B3F3F;
    color: #FFFFFF;
    font-weight: bold;
}

#login_naver {
    position: relative;
    margin-top: 10px;
    width: 95%;
    height: 40px;
    text-align: center;
    font-size: 18px;
    background: #15F815;
    color: #FFFFFF;
    font-weight: bold;
}

#login_kakao {
    position: relative;
    margin-top: 10px;
    width: 95%;
    height: 40px;
    text-align: center;
    font-size: 18px;
    background: #F5DF37;
    color: #6E413A;
    font-weight: bold;
}

#sign-up {
    position: relative;
    left: 38%;
    margin-top: 80px;
    width: 25%;
}

#sign-up_text {
    position: relative;
    font-size: 20px;
    font-weight: bold;
}

#sign-up_tag {
    position: relative;
    width: 80%;
    height: 380px;
    border: 2px solid #E1E1E1;
    padding: 20px 30px 10px 30px;
    margin-bottom: 141px;
}

#name {
    position: relative;
    margin-top: 10px;
    width: 33%;
    height: 30px;
    font-size: 16px;
    padding-left: 10px;
    margin-right: 5px;
    border: 1px solid #E1E1E1;
}

#nickname {
    position: relative;
    margin-top: 10px;
    width: 33%;
    height: 30px;
    font-size: 16px;
    padding-left: 10px;
    margin-right: 5px;
    border: 1px solid #E1E1E1;
}

#name_duplication {
    position: relative;
    margin-top: 10px;
    width: 80px;
    height: 35px;
    font-size: 15px;
    border: 1px solid #E1E1E1;
    background: #A1A1A1;
    text-align: center;
    color: white;
}

#nickname_duplication {
    position: relative;
    margin-top: 10px;
    width: 21%;
    height: 35px;
    font-size: 15px;
    border: 1px solid #E1E1E1;
    background: #A1A1A1;
    text-align: center;
    color: white;
}

#id_duplication {
    position: relative;
    margin-top: 10px;
    width: 21%;
    height: 35px;
    font-size: 15px;
    border: 1px solid #E1E1E1;
    background: #A1A1A1;
    text-align: center;
    color: white;
}

#sign-up_id {
    position: relative;
    margin-top: 10px;
    width: 71%;
    height: 30px;
    font-size: 16px;
    padding-left: 10px;
    margin-right: 5px;
    border: 1px solid #E1E1E1;
}

#pwd {
    position: relative;
    margin-top: 10px;
    width: 44%;
    height: 30px;
    font-size: 16px;
    padding-left: 10px;
    margin-right: 5px;
    border: 1px solid #E1E1E1;
}

#pwd_checked {
    position: relative;
    margin-top: 10px;
    width: 44%;
    height: 30px;
    font-size: 16px;
    padding-left: 10px;
    margin-right: 5px;
    border: 1px solid #E1E1E1;
}

#birth {
    position: relative;
    margin-top: 10px;
    width: 44%;
    height: 30px;
    font-size: 16px;
    padding-left: 10px;
    margin-right: 35px;
    margin-bottom: 10px;
    border: 1px solid #E1E1E1;
}

#sign-up_phone {
    position: relative;
    margin-top: 10px;
    width: 93%;
    height: 30px;
    font-size: 16px;
    padding-left: 10px;
    margin-right: 5px;
    border: 1px solid #E1E1E1;
}

#radio_male {
    position: absolute;
    width: 30px;
}

#radio_female {
    position: absolute;
    width: 30px;
}

#sign-up_membership {
    position: relative;
    left: 20%;
    width: 70%;
    height: 40px;
    font-size: 17px;
    color: white;
    text-align: center;
    background-color: #f66d5b;
    margin-top: 10px;
}

#sing-up_terms {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 10px;
    margin-bottom: 5px;
    float: right;
    font-weight: bolder;
    border-bottom: 1px solid;
}
#sex {
    position: absolute;
    margin: -35px 0 0 200px;
}
